pypdf
langchain
sentence-transformers==2.2.2
chromadb
langchain_openai
faiss-cpu
beautifulsoup4
unstructured
unstructured[md]
tensorflow[and-cuda]
gpuinfo
streamlit
langchain-community
rank_bm25
matplotlib
anthropic
maritalk
google.generativeai